:root {
  --bs-primary: #0f172b !important;
  --bs-accent: #fea116;
}

.bg-theme-primary {
  background-color: #0f172b !important;
}
.pacifico-regular {
  font-family: "Pacifico", cursive !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

nav {
  background-color: var(--bs-primary);
}
.navbar-brand {
  color: var(--bs-accent);
  font-weight: bold;
  font-size: 32px;
}

#hero {
  height: 100vh;
  background-color: var(--bs-primary);
}
#hero h1 {
  font-size: 60px;
  font-weight: bold;
}

@keyframes rotateImg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rotate-hero-img {
  width: 90%;
  animation: rotateImg 30s linear infinite;
}

/* #showcase */
#showcase i {
  font-size: 50px;
  color: var(--bs-accent);
}
#showcase .card:hover {
  background-color: var(--bs-accent);
  color: white;
  transition: all 0.3s;
}
#showcase .card:hover i {
  color: white;
  transition: all 0.3s;
}

.title-sub-heading span {
  width: 50px;
  display: inline-block;
  height: 2px;
  background-color: var(--bs-accent);
  margin: 0 10px;
}
.title-sub-heading {
  color: var(--bs-accent);
}

/* #about */
#about i {
  color: #fea116;
}
.about-highlights {
  border-left: 6px solid #fea116;
}
.about-highlights h3 {
  color: var(--bs-accent);
  font-size: 50px;
  font-weight: bold;
  padding: 0 15px;
  margin: 0;
}
.about-highlights div {
  color: #666565;
}
.about-highlights span {
  display: block;
  font-weight: bold;
  color: #0f172b;
}

#reservation {
}
.video-area {
  background-color: #0f172b;
  background-image: url(../images/video.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-area span {
  display: inline-block;
  background-color: #fea116;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-area i {
  font-size: 50px;
  color: #0f172b;
}

/* responsive */
@media (max-width: 767.98px) {
  #hero {
    height: auto;
  }
  .rotate-hero-img {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
}
