:root {
  --bs-primary: #0f172b !important;
  --bs-accent: #fea116;
}

nav {
  background-color: var(--bs-primary);
}
.navbar-brand {
  color: var(--bs-accent);
  font-weight: bold;
  font-size: 32px;
}

#hero {
  height: 100vh;
  background-color: var(--bs-primary);
}
#hero h1 {
  font-size: 60px;
  font-weight: bold;
}

@keyframes rotateImg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rotate-hero-img {
  width: 90%;
  animation: rotateImg 30s linear infinite;
}

/* #showcase */
#showcase i {
  font-size: 50px;
  color: var(--bs-accent);
}
#showcase .card:hover {
  background-color: var(--bs-accent);
  color: white;
  transition: all 0.3s;
}
#showcase .card:hover i {
  color: white;
  transition: all 0.3s;
}

/* #about */
#about i {
  color: #fea116;
}

/* responsive */
@media (max-width: 767.98px) {
  #hero {
    height: auto;
  }
  .rotate-hero-img {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
}
