<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="#"><i class="fa-solid fa-gem"></i></a>
          </li>
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li>
            <a href="#">Team</a>
          </li>
          <li>
            <a href="#">Projects</a>
          </li>
        </ul>

        <div class="form-links">
          <a href="#">Login</a>
          <a href="#">Sign up for free</a>
        </div>
      </nav>
    </header>

    <main>
      <section id="hero">
        <div class="hero-overlay">
          <h1>The best offer on the market <br />for your business</h1>
          <div class="hero-action">
            <a href="#">Get Started</a>
            <a href="#">Learn More</a>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
